:root {
    --Dark-blue: #1f2937;
    --Primary-text-color: #f9faf8;
    --Secondary-text-color: #e5e7eb;
    --Header-logo-text-color: #f9faf8;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





nav{
    background-color: var(--Dark-blue);
    color: var(--Header-logo-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}
.nav-items{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}
.nav-item{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: var(--Secondary-text-color);
    font-size: 18px;
    transition: all 1s linear;
    
}

.nav-item a:hover{
color: #3882f6;
}
.header h1{
    font-size: 24px;
    color: var(--Header-logo-text-color);
}






.hero{
    background-color: var(--Dark-blue);
    color: var(--Header-logo-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.hero-info{
    width: 13%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.p-info{
    font-size: 18px;
    color: var(--Secondary-text-color);
}
.title{
   font-size: 36px;
    
}.hero-img{
    background-image: url('/images/photo-1587329310686-91414b8e3cb7.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 200px;
}
.btn{
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background:  #3882f6;
    color: var(--Primary-text-color);
    transition: all 1s linear;
    text-transform: uppercase;
}

.btn:hover{
    border: 2px solid #3882f6;
    color: #3882f6;
    background-color: white;
    cursor: pointer;
}





.grid-of-cards{
 
    color: var(--Header-logo-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.cards{
    
    color: var(--Header-logo-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.card-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    width: 100%;
    border: 2px solid #3882f6;
    transition: all 1s linear;
    
}

.card-img:hover{
    transform: scale(1.2);
    cursor: pointer;
    margin-bottom: 2rem;
}
.card-img-1{
    background-image: url(/images/messi.jpg);
}
.card-img-2{
    background-image: url(/images/bruno.png);
}
.card-img-3{
    background-image: url(/images/06-salah-209331-en.png.adapt.crop16x9.652w.png);
}
.card-img-4{
    background-image: url(/images/206517.png.adapt.265w.png);
}
.card{
    width: 190px;
}
.card-info{
    color:  #1f2937;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.grid-header{
    color: #3882f6;
    font-weight: bold;
    border-bottom: 2px solid #3882f6;
}

span{
    font-weight: bold;
    color: #3882f6;
}




figure{
    background-color:#e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}
blockquote{
    font-size: 36px;
    font-style: italic;
    color:  #1f2937;
    width: 40%;
}
cite{
    font-style: italic;
    color:  #1f2937;
    font-weight: bold;
    
}
.figure-foot{
   margin-left: 30rem;
}





.call-to-action{
    background-color:#3882f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 0.5rem;
    
}
.call-to-action p{
    color: var(--Secondary-text-color);

}
.call-to-action h3{
    color: var(--Header-logo-text-color);
    font-weight: bold;

}
.call-btn{
    border: none;
    border: 2px solid white;
    background: transparent;
    color: var(--Primary-text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    width: fit-content;
    transition: all 1s linear;
    text-transform: uppercase;

}

.call-btn:hover{
    background-color: white;
    border: none;
    color: #3882f6;
    cursor: pointer;
}




.main-footer{
    background-color: var(--Dark-blue);
    color:var(--Secondary-text-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}




